.text-center {
	text-align: center;
}

#wrapper {
	width: 500px;
	font-family: Arial, Sans-Serif;
	margin-left: auto;
	margin-right: auto;
}

#wrapper > div {
	margin: 25px 0px;
}

#code-container {
	background-color: #bbb;
	padding: 10px;
}
